In [1]:
import pandas as pd

# Load the Excel file
file_path = "FILE_7929.xlsx"  # Update with your actual file path
xls = pd.ExcelFile(file_path)

# Read the first sheet (modify if necessary)
df = pd.read_excel(xls, sheet_name="Task 1", header=None)

# Identify table start positions based on titles like "Task 1-A, Table X: ..."
table_starts = df[df[0].str.contains("Task 1-A, Table", na=False)].index.tolist()
table_starts.append(len(df))  # Add the end of the file as the last index

# Extract tables into separate DataFrames
tables = {}

for i in range(len(table_starts) - 1):
    table_name = f"Table_{i+1}"
    
    # Slice the DataFrame from the start of the table to just before the next one
    table_df = df.iloc[table_starts[i] + 1 : table_starts[i + 1]].dropna(how="all")
    
    # Set the first row as column headers
    table_df.columns = table_df.iloc[0]
    
    # Drop the original header row
    table_df = table_df[1:].reset_index(drop=True)
    
    # Store the table
    tables[table_name] = table_df

# Display the extracted tables
for name, table in tables.items():
    print(f"\n{name}:\n")
    print(table.head())  # Show the first few rows of each table

Table_1:

1             Measurement    Units   1.0   2.0   3.0   4.0    5   6.0   7.0  \
0  Rotor Position theta_r  degrees   1.0   2.0   3.0   4.0    5   6.0   7.0
1              Torque T_e     mN*m   0.2  13.6  27.0  28.6   23   7.0  -6.0
2             Measurement    Units  11.0  12.0  13.0  14.0   15  16.0  17.0
3  Rotor Position theta_r  degrees  11.0  12.0  13.0  14.0   15  16.0  17.0
4              Torque T_e     mN*m -52.0 -48.0 -37.8 -19.5 -7.5  13.6  26.2

1     8     9  10.0  NaN
0     8     9  10.0  NaN
1 -16.2   -34 -49.0  NaN
2    18    19  20.0  NaN
3    18    19  20.0   21
4  29.6  26.8  12.0 -4.4

Table_2:

12             Measurement    Units   1.0   2.0   3.0   4.0     5   6.0   7.0  \
0   Rotor Position theta_r  degrees   1.0   2.0   3.0   4.0     5   6.0   7.0
1               Torque T_e     mN*m -10.0 -27.0 -36.3 -52.4 -70.7 -76.0 -73.4
2              Measurement    Units  11.0  12.0  13.0  14.0    15  16.0  17.0
3   Rotor Position theta_r  degrees  11.0  12.0  13.0  14.0    15  16.0  17.0
4               Torque T_e     mN*m -13.5   3.1   8.9   7.3  -6.4 -24.2 -33.3

12     8     9  10.0  NaN
0      8     9  10.0  NaN
1  -60.8 -42.8 -29.5  NaN
2     18    19  20.0  NaN
3     18    19  20.0  NaN
4  -43.9 -64.4 -74.8  NaN

Table_3:

23             Measurement    Units   1.0   2.0   3.0   4.0     5   6.0   7.0  \
0   Rotor Position theta_r  degrees   0.0   1.0   2.0   3.0     4   5.0   6.0
1               Torque T_e     mN*m -49.3 -48.7 -60.2 -72.2 -81.2 -83.1 -76.7
2              Measurement    Units  11.0  12.0  13.0  14.0    15  16.0  17.0
3   Rotor Position theta_r  degrees  11.0  12.0  13.0  14.0    15  16.0  17.0
4               Torque T_e     mN*m  15.5   6.2   3.5   0.6 -31.7 -59.0 -71.7

23     8     9  10.0   NaN
0      7     8   9.0    10
1  -65.3 -31.2   6.0  21.7
2     18    19  20.0   NaN
3     18    19  20.0   NaN
4  -78.8 -86.4 -82.1   NaN

{'Table_1': 1             Measurement    Units   1.0   2.0   3.0   4.0    5   6.0   7.0  \
 0  Rotor Position theta_r  degrees   1.0   2.0   3.0   4.0    5   6.0   7.0
 1              Torque T_e     mN*m   0.2  13.6  27.0  28.6   23   7.0  -6.0
 2             Measurement    Units  11.0  12.0  13.0  14.0   15  16.0  17.0
 3  Rotor Position theta_r  degrees  11.0  12.0  13.0  14.0   15  16.0  17.0
 4              Torque T_e     mN*m -52.0 -48.0 -37.8 -19.5 -7.5  13.6  26.2

 1     8     9  10.0  NaN
 0     8     9  10.0  NaN
 1 -16.2   -34 -49.0  NaN
 2    18    19  20.0  NaN
 3    18    19  20.0   21
 4  29.6  26.8  12.0 -4.4  ,
 'Table_2': 12             Measurement    Units   1.0   2.0   3.0   4.0     5   6.0   7.0  \
 0   Rotor Position theta_r  degrees   1.0   2.0   3.0   4.0     5   6.0   7.0
 1               Torque T_e     mN*m -10.0 -27.0 -36.3 -52.4 -70.7 -76.0 -73.4
 2              Measurement    Units  11.0  12.0  13.0  14.0    15  16.0  17.0
 3   Rotor Position theta_r  degrees  11.0  12.0  13.0  14.0    15  16.0  17.0
 4               Torque T_e     mN*m -13.5   3.1   8.9   7.3  -6.4 -24.2 -33.3

 12     8     9  10.0  NaN
 0      8     9  10.0  NaN
 1  -60.8 -42.8 -29.5  NaN
 2     18    19  20.0  NaN
 3     18    19  20.0  NaN
 4  -43.9 -64.4 -74.8  NaN  ,
 'Table_3': 23                                        Measurement    Units    1.0    2.0  \
 0                              Rotor Position theta_r  degrees   0.00   1.00
 1                                          Torque T_e     mN*m -49.30 -48.70
 2                                         Measurement    Units  11.00  12.00
 3                              Rotor Position theta_r  degrees  11.00  12.00
 4                                          Torque T_e     mN*m  15.50   6.20
 5   Task 1-B, Table 4: Phase A inductance vs. roto...      NaN    NaN    NaN
 6                                         Measurement    Units   1.00   2.00
 7                              Rotor Position theta_r  degrees   0.00   1.00
 8                                     Inductance, L_s       mH  14.95  14.75
 9                                         Measurement    Units  11.00  12.00
 10                             Rotor Position theta_r  degrees  10.00  11.00
 11                                    Inductance, L_s       mH  15.67  16.02

 23    3.0    4.0               5    6.0    7.0      8      9    10.0   NaN
 0    2.00   3.00               4   5.00   6.00      7      8   9.000    10
 1  -60.20 -72.20           -81.2 -83.10 -76.70  -65.3  -31.2   6.000  21.7
 2   13.00  14.00              15  16.00  17.00     18     19  20.000   NaN
 3   13.00  14.00              15  16.00  17.00     18     19  20.000   NaN
 4    3.50   0.60           -31.7 -59.00 -71.70  -78.8  -86.4 -82.100   NaN
 5     NaN  10.00  , frequency =     NaN  20.00     Hz      R  33.038   Ohm
 6    3.00   4.00               5   6.00   7.00      8      9  10.000   NaN
 7    2.00   3.00               4   5.00   6.00      7      8   9.000   NaN
 8   14.92  15.49           15.04  14.50  14.33  14.49  14.93  15.310   NaN
 9   13.00  14.00              15  16.00  17.00     18     19  20.000   NaN
 10  12.00  13.00              14  15.00  16.00     17     18  19.000   NaN
 11  15.06  15.57            15.5  15.52  16.47     16  15.95  15.660   NaN  }